/* Gradient animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #ffecd9, #d1f1ff, #a7e9af);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  font-style: oblique;
  color: black;
}

.input-container {
  margin-bottom: 10px;
  width: 300px;
}

.input {
  padding: 8px;
  border: 1px solid #999999;
  border-radius: 4px;
  width: 280px;
  height: 30px;
  font-size: larger;
  text-align: center;
  font-weight: bold;
}

.button {
  padding: 8px 16px;
  background-color: #232b2b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 300px;
  height: 40px;
  font-size: larger;
  text-align: center;
  font-weight: bold;
}